* { 
    background-color: rosybrown; 
    text-align: center; 
}
h1 { 
    font-family: 'Trebuchet MS'; 
    text-decoration: underline; 
}
input { 
    font-family: 'Gill Sans'; 
    background-color: gray; 
    font-size: 15px; 
    border-style: round; 
}
label { 
    margin: 10px; 
    font-family: 'lucida Sans'; 
    color:brown;  
    font-weight: bold; 
}
button { 
    font-family: 'Franklin Gothic Medium'; 
    background-color: darkolivegreen;
    font-weight: bold; 
    font-size: 15px; 
}
p { 
    font-family: 'Calibri'; 
    color: brown; 
    font-size: 15px; 
    font-weight: bold; 
    text-decoration: underline; 
}