* { 
    background-color: #edf0f5; 
    vertical-align: center; 
}
#signup { 
    font-size: 15px; color: white; background-color: #659d50; 
    width: 150px; border-radius: 4px; border-width: medium; font-weight: bold; 
}
input { 
    font-size: 15px; width: 200px; border-radius: 5px; 
}
#gender { 
    font-weight: bolder; font-size: 12px; 
}
