* { 
    background-color: #edf0f5; 
    vertical-align: center; 
}
#signup { 
    font-size: 15px; color: white; background-color: #659d50; 
    width: 150px; border-radius: 4px; border-width: medium; font-weight: bold; border-style: round; 
}

.form { 
    background-color: lightgray; 
}
#firstname, #lastname { 
        width: 120px; 
        margin: 5px; 
}
#email, #reemial { 
    width: 120px; 
    margin: 5px; 
}
#gender { 
    font-size: 15px; 
    font-family: "Freight Sans", "Lucida Grande", "Tohoma", "Verdana", "Arial", "Sans Serif"
}
#month, #day, { 
    border-color: gray; 
}