body { 
    font-family: 'Times New Roman', Times, serif;
    background-color: #B8D1EB;
    color: #000000;
}
#outerwrapper { 
    margin: 0 auto 0 auto; 
    width: 70%;
}
footer { 
    text-align: center;
    font-size: 0.75em;
}
#main { 
    padding: 10px;
    background-color: #C5A98B;
}
img { 
    float: left;
    margin-right: 3%;
}
ul { 
    list-style-type: none;
}
